select {
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; }
  select option {
    background-color: #fff;
    color: #333; }
  select::-ms-expand {
    display: none; }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #828c9a; }

.select-wrap:before {
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 0;
  content: "\f123";
  font-family: "IonIcons";
  line-height: 43px;
  color: #7F878C;
  pointer-events: none; }

@media (min-width: 1px) {
  input[type=radio], input[type=checkbox] {
    display: none;
    margin: 0; }
  input[type=radio] + label, input[type=checkbox] + label {
    padding: 0 0 0 calc(20px + 16px); }
  input[type=radio] + label::before, input[type=checkbox] + label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #FFF; }
  input[type=radio] + label::before {
    border: 2px solid #ccc;
    border-radius: 30px; }
  input[type=checkbox] + label::before {
    border: 2px solid #ccc; }
  input[type=radio]:checked + label::after, input[type=checkbox]:checked + label::after {
    content: "";
    position: absolute;
    top: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block; }
  input[type=radio]:checked + label::after {
    left: 6px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background: #000000;
    border-radius: 8px; }
  input[type=checkbox]:checked + label::after {
    left: 3px;
    width: 16px;
    height: 8px;
    margin-top: -6px;
    border-left: 3px solid #000000;
    border-bottom: 3px solid #000000;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); } }
