@import 'reset'
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded')
@import url('http://fonts.googleapis.com/earlyaccess/notosansjp.css')

body
  width: 100%
  line-height: 1.5
  font-size: 16px
  font-family: "Noto Sans", "Noto Sans JP", sans-serif
  font-weight: 400
  color: rgb(15,15,15)

h1
  display: block
  margin-top: 0.5em
  margin-bottom: 0.5em
  margin-left: 0
  margin-right: 0
  font-size: 3.5em
  font-weight: 500

h2
  display: block
  margin-top: 0.83em
  margin-bottom: 0.83em
  margin-left: 0
  margin-right: 0
  font-size: 2.5em
  font-weight: 500
  text-align: center

h3
  display: block
  margin-top: 1.5em
  margin-bottom: 1.5em
  margin-left: 0
  margin-right: 0
  font-size: 1.17em
  font-weight: 500
  text-align: center

h4
  display: block
  margin-top: 1.33em
  margin-bottom: 1.33em
  margin-left: 0
  margin-right: 0
  font-size: 1em
  font-weight: 500
  color: rgb(168,168,168)

h5
  display: block
  margin-top: 1.67em
  margin-bottom: 1.67em
  margin-left: 0
  margin-right: 0
  font-size: .83em
  font-weight: 500
  color: rgb(168,168,168)

p
  display: block
  margin-top: 1em
  margin-bottom: 1em
  margin-left: 0
  margin-right: 0
  line-height: 1.82
  font-size: 1em

a
  text-decoration: none
  color: black

ol li
  display: list-item
  margin-left: 1.25em
  margin-bottom: .5em
  line-height: 1.5
  list-style-type: decimal

img
  width: 100%
  &.shadow
    box-shadow: 4px 4px 4px rgba(0,0,0,.2)
    margin-bottom: 16px
  &.flow
    width: 80%
    margin: 0 10%

aside
  display: block
  margin-top: .25em
  margin-bottom: .25em
  margin-left: 0
  margin-right: 0
  line-height: 1
  font-size: .82em
  text-align: center

%clearfix
  &:after
    content: ""
    clear: both
    display: block

%animation
  transition: all 0.4s ease
  -webkit-transition: all 0.4s ease
  -moz-transition: all 0.4s ease
  -o-transition: all 0.4s ease

//---------- ヘッダー ----------//

@import 'header'

header,
header h1,
header a,
header .inner,
.main.smooth,
#nav-open
  @extend %animation

header nav,
header .inner
  @extend %clearfix

//---------- コンテナ ----------//

.container
  width: 800px
  margin: 160px auto
  @extend %clearfix
  & > *
    margin-left: 16px
    margin-right: 16px
  li
    display: list-item
    margin: 8px 0
    margin-left: 16px
    list-style-type: disc

.card
  float: left
  width: calc(50% - 34px)
  margin: 16px
  border: 1px #eee solid
  background: white
  box-shadow: 0 2px 4px rgba(0,0,0,.1)
  &:hover
    opacity: .8
    filter: alpha(opacity=80)

.card__icon
  position: relative
  width: 100%
  height: 300px
  &.optimalbiz
    background: rgb(82,156,117)
  &.switch
    background: rgb(235,84,20)
  img
    position: absolute
    width: calc(100% - 32px)
    width: calc(100% - 32px)
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

.card__image
  width: 100%

.card__inner
  margin: 24px
  table
    width: 100%
  td
    padding: 8px 0
    &:last-of-type
      text-align: right
      letter-spacing: .5em

.pane-wrap
  margin: 16px auto
  @extend %clearfix

.pane-2
  width: calc(50% - 34px)
  float: left
  margin: 16px

.pane-4
  width: calc((100% / 4) - 32px)
  float: left
  margin: 16px
  border: none
  box-shadow: none

.pane__inner
  margin: 24px

.name
  margin-bottom: 0
  text-align: left

.address
  margin-top: 0
  font-weight: normal

.hero
  padding: 16px 0
  color: white
  &.optimalbiz
    background: rgb(82,156,117)
  &.switch
    background: rgb(235,84,20)
  .container
    margin: 40px auto
  h1
    margin-bottom: 0
    font-weight: normal
    text-align: center
  p
    text-align: center
  img
    margin: 32px 0
  dt
    font-weight: 500
  dd
    display: list-item
    margin-left: 2em
    list-style-type: disc
    &.me
      color: rgb(255,160,26)

@media screen and (max-width: 799px)
  .container
    width: calc(100% - 32px)
  .card
    width: calc(100% - 34px)
  .card__icon
    width: 100%
    height: 300px
    img
      width: calc(100% - 32px)
      max-width: 484px
  .pane-2
    width: calc(100% - 32px)
  .pane-4
    width: calc(100% - 32px)
