@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  width: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  color: #0f0f0f; }

h1 {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-size: 3.5em;
  font-weight: bold; }

h2 {
  display: block;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center; }

h3 {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.17em;
  font-weight: bold;
  text-align: center; }

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-size: 1em;
  font-weight: bold;
  color: #a8a8a8; }

h5 {
  display: block;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-size: .83em;
  font-weight: bold;
  color: #a8a8a8; }

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.82;
  font-size: 1em; }

a {
  text-decoration: none;
  color: black; }

ol li {
  display: list-item;
  margin-left: 1.25em;
  margin-bottom: .5em;
  line-height: 1.5;
  list-style-type: decimal; }

img {
  width: 100%; }
  img.shadow {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px; }

header nav:after,
header .inner:after, .container:after {
  content: "";
  clear: both;
  display: block; }

header,
header h1,
header a,
header .inner,
.main.smooth,
#nav-open {
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white; }
  header h1 {
    display: block;
    margin: 0;
    line-height: 160px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #6e6e6e; }
  header nav {
    position: relative;
    display: block; }
  header ul {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 64px 0; }
  header li {
    float: left;
    margin-left: 8px; }
  header a[type=button] {
    display: inline-block;
    padding: 0 16px;
    line-height: 32px;
    font-size: 1em;
    color: #6e6e6e; }
    header a[type=button]:hover {
      box-shadow: 0 1px 0 rgba(85, 85, 85, 0.3);
      background: #6e6e6e;
      color: white; }
    header a[type=button]:active {
      box-shadow: none;
      color: rgba(255, 255, 255, 0.3); }
  header .inner {
    position: relative;
    width: 768px;
    margin: 0 auto;
    padding: 16px 0; }

header.scrolled {
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7); }
  header.scrolled > * {
    float: left; }
  header.scrolled h1 {
    display: inline-block;
    line-height: 32px;
    font-size: 1.5em;
    color: rgba(110, 110, 110, 0.5); }
  header.scrolled ul {
    margin: 0; }
  header.scrolled .inner {
    width: calc(100% - 64px);
    margin: 0 32px; }

#nav-input,
#nav-open,
#nav-content .menu-title {
  display: none; }

.main {
  margin-top: 192px; }
  .main.smooth {
    margin-top: 0; }

@media screen and (max-width: 799px) {
  header h1 {
    display: inline-block;
    font-size: 2em; }
  header .inner {
    width: calc(100% - 64px); }
  header.scrolled h1 {
    display: inline-block; }
  header.scrolled #nav-drawer {
    display: inline-block; }
  header.scrolled #nav-open {
    margin: 0; }
  #nav-drawer {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0; }
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    margin-top: 69px;
    margin-bottom: 69px;
    vertical-align: middle; }
    #nav-open span {
      position: absolute;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background: #6e6e6e;
      display: block;
      content: '';
      cursor: pointer; }
      #nav-open span:before, #nav-open span:after {
        position: absolute;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #6e6e6e;
        display: block;
        content: '';
        cursor: pointer; }
      #nav-open span:before {
        bottom: -8px; }
      #nav-open span:after {
        bottom: -16px; }
  #nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out; }
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 80%;
    max-width: 330px;
    height: 100%;
    background: gainsboro;
    transition: .4s ease-in-out;
    -webkit-transform: translateX(185%);
    transform: translateX(185%); }
    #nav-content .menu-title {
      display: block;
      width: 100%;
      height: 56px;
      margin-bottom: 16px;
      border-bottom: 1px solid #b4b4b4;
      line-height: 56px;
      font-size: 1.5em;
      font-weight: lighter;
      text-align: center;
      color: #6e6e6e; }
    #nav-content ul {
      position: relative;
      margin: 0;
      padding: 0 16px; }
    #nav-content li {
      float: none;
      width: 100%;
      margin: 0; }
    #nav-content a[type=button] {
      width: calc(100% - 32px);
      margin: 5px 0;
      padding: 0 16px;
      line-height: 40px;
      box-shadow: 0 1px 0 rgba(85, 85, 85, 0.3);
      text-align: center;
      background: white;
      color: #0f0f0f; }
      #nav-content a[type=button]:hover {
        background: #6e6e6e;
        color: white; }
      #nav-content a[type=button]:active {
        box-shadow: none;
        color: rgba(255, 255, 255, 0.3); }
  #nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5; }
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: -2px 0 #b4b4b4; } }

.container {
  width: 800px;
  margin: 160px auto; }
  .container > * {
    margin-left: 16px;
    margin-right: 16px; }

.card {
  float: left;
  width: calc(50% - 34px);
  margin: 16px;
  border: 1px #eee solid;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .card:hover {
    opacity: .8;
    filter: alpha(opacity=80); }

.card__icon {
  position: relative;
  width: 100%;
  height: 300px; }
  .card__icon.optimalbiz {
    background: #529c75; }
  .card__icon.switch {
    background: #eb5414; }
  .card__icon img {
    position: absolute;
    width: calc(100% - 32px);
    width: calc(100% - 32px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.card__image {
  width: 100%; }

.card__inner {
  margin: 24px; }
  .card__inner table {
    width: 100%; }
  .card__inner td {
    padding: 8px 0; }
    .card__inner td:last-of-type {
      text-align: right;
      letter-spacing: .5em; }

.pane-2 {
  width: calc(50% - 34px);
  float: left;
  margin: 16px; }

.pane-4 {
  width: calc((100% / 4) - 32px);
  float: left;
  margin: 16px;
  border: none;
  box-shadow: none; }

.pane__inner {
  margin: 24px; }

.name {
  margin-bottom: 0;
  text-align: left; }

.address {
  margin-top: 0;
  font-weight: normal; }

.hero {
  padding: 16px 0;
  color: white; }
  .hero.optimalbiz {
    background: #529c75; }
  .hero.switch {
    background: #eb5414; }
  .hero .container {
    margin: 40px auto; }
  .hero h1 {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center; }
  .hero p {
    text-align: center; }
  .hero img {
    margin: 32px 0; }
  .hero dt {
    font-weight: bold; }
  .hero dd {
    display: list-item;
    margin-left: 2em;
    list-style-type: disc; }
    .hero dd.me {
      color: #ffa01a; }

@media screen and (max-width: 799px) {
  .container {
    width: calc(100% - 32px); }
  .card {
    width: calc(100% - 34px); }
  .card__icon {
    width: 100%;
    height: 300px; }
    .card__icon img {
      width: calc(100% - 32px);
      max-width: 484px; }
  .pane-2 {
    width: calc(100% - 32px); }
  .pane-4 {
    width: calc(100% - 32px); } }
