@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container:after, header nav:after {
  content: "";
  clear: both;
  display: block; }

body {
  width: 100%;
  line-height: 1.5;
  font-size: 16px;
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  color: black; }

h1 {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  font-size: 3.5em;
  font-weight: bold; }

h2 {
  display: block;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center; }

h3 {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-size: 1.17em;
  font-weight: bold;
  text-align: center; }

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-size: 1em;
  font-weight: bold;
  color: #a8a8a8; }

h5 {
  display: block;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-size: .83em;
  font-weight: bold;
  color: #a8a8a8; }

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  line-height: 1.82;
  font-size: 1em; }

a {
  text-decoration: none;
  color: black; }

ol li {
  display: list-item;
  margin-left: 1.25em;
  margin-bottom: .5em;
  line-height: 1.5;
  list-style-type: decimal; }

img {
  width: 100%; }
  img.shadow {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 16px; }

.container {
  width: 800px;
  margin: 160px auto; }
  .container > * {
    margin-left: 16px;
    margin-right: 16px; }

.card {
  float: left;
  width: calc(50% - 34px);
  margin: 16px;
  border: 1px #eee solid;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
  .card:hover {
    opacity: .8;
    filter: alpha(opacity=80); }

.card__icon {
  position: relative;
  width: 100%;
  height: 300px; }
  .card__icon.optimalbiz {
    background: #529c75; }
  .card__icon.switch {
    background: #eb5414; }
  .card__icon img {
    position: absolute;
    width: calc(100% - 32px);
    width: calc(100% - 32px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.card__image {
  width: 100%; }

.card__inner {
  margin: 24px; }
  .card__inner table {
    width: 100%; }
  .card__inner td {
    padding: 8px 0; }
    .card__inner td:last-of-type {
      text-align: right;
      letter-spacing: .5em; }

.pane-2 {
  width: calc(50% - 34px);
  float: left;
  margin: 16px; }

.pane-4 {
  width: calc((100% / 4) - 32px);
  float: left;
  margin: 16px;
  border: none;
  box-shadow: none; }

.pane__inner {
  margin: 24px; }

.name {
  margin-bottom: 0;
  text-align: left; }

.address {
  margin-top: 0;
  font-weight: normal; }

header {
  width: 768px;
  margin: 80px auto; }
  header li {
    float: left;
    margin-right: 8px; }
  header a[type=button] {
    display: inline-block;
    padding: 0 16px;
    border: 1px black solid;
    line-height: 32px;
    background: white;
    color: black; }
    header a[type=button]:hover {
      background: black;
      color: white; }

.hero {
  padding: 16px 0;
  color: white; }
  .hero.optimalbiz {
    background: #529c75; }
  .hero.switch {
    background: #eb5414; }
  .hero .container {
    margin: 40px auto; }
  .hero h1 {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center; }
  .hero p {
    text-align: center; }
  .hero img {
    margin: 32px 0; }
  .hero dt {
    font-weight: bold; }
  .hero dd {
    display: list-item;
    margin-left: 2em;
    list-style-type: disc; }
    .hero dd.me {
      color: #ffa01a; }

@media screen and (max-width: 799px) {
  header {
    width: calc(100% - 32px); }
    header a[type=button] {
      width: 100%;
      text-align: center; }
    header li {
      width: calc(100% - 34px);
      margin: 8px 0; }
  .container {
    width: calc(100% - 32px); }
  .card {
    width: calc(100% - 34px); }
  .card__icon {
    width: 100%;
    height: 300px; }
    .card__icon img {
      width: calc(100% - 32px);
      max-width: 484px; }
  .pane-2 {
    width: calc(100% - 32px); }
  .pane-4 {
    width: calc(100% - 32px); } }
