header
  .inner
    h1 Niiyama
    nav
      #nav-drawer
        input#nav-input(type='checkbox')
        label#nav-open(for='nav-input'): span
        label#nav-close(for='nav-input')
        #nav-content
          .menu-title menu
          ul
            li: a(type='button' href='index.html') Work
            li: a(type='button' href='skill.html') Skill
            li: a(type='button' href='profile.html') Profile
