extends _template.pug

block title
  title Yuka Niiyama - work

block content
  .container
    h2 Work
    .card
      a(href='optimalbiz.html')
        .optimalbiz
          .card__icon
            img(src='image/optimalbiz-icon.png')
        h3 Optimal Biz UIリニュアル
    .card
      a(href='switch.html')
        .switch
          .card__icon
            img(src='image/switch-icon.png')
        h3 起業シミュレーション Switch
