extends _template.pug

block title
  title Yuka Niiyama - optimalbiz

block content
  .hero.optimalbiz
    .container
      h1 Optimal Biz UIリニュアル
      p 社内端末を管理・遠隔操作するWebアプリケーション「Optimal Biz」のUIリニュアルに携わりました。
      img(src='image/optimalbiz.png')
      .pane-2
        dl
          dt 期間
          dd 2017年4月 ~ 現在
      .pane-2
        dl
          dt チーム構成
          dd マネージャー1名
          dd エンジニア3名 (交代制)
          dd.me デザイナ兼エンジニア (私)
  .container
    h2 Optimal Bizとは?
    p 業務で使用しているPCやスマートフォンなどの社内端末を、管理・遠隔操作するためのサービスです。Webアプリケーションから社内端末を一覧したり、端末のロック、初期化などの行うことができます。
    .pane-2
      img.shadow(src='image/optimalbiz-old.png')
      aside 社内端末の一覧画面
    .pane-2
      img.shadow(src='image/optimalbiz-old2.png')
      aside メニュー画面
  .container
    h2 課題
    .pane-2
      h3 目的の画面にたどり着けない
      p ほとんどの機能が「メニュー画面」に集約されており、ユーザーが目的の機能を見つけるまでに時間がかかりました。
    .pane-2
      h3 プロジェクトが進まない
      p 多くのお客様からユーザビリティ改善のご要望を受けていましたが、具体的な仕様に落とし込むことができず、プロジェクトの進捗は滞っていました。
  .container
    h2 提案
    p ユーザーが迷わないUIを検討し、ユーザーテストで効果を検証した上でリニュアルを進めました。
    .pane-2
      img.shadow(src='image/optimalbiz-new.png')
  .container
    h2 プロセス
    .pane-4
      h3 情報構造の整理
      p 機能のグループ分けを行い、いくつかの画面に分割しました。ユーザーの使用している言葉やイメージを反映するために、企画や営業担当のスタッフと共に進めました。
    .pane-4
      h3 UIデザイン
      p 画面図を作成し、プロトタイプを実装しました。画面図はAdobe Illustratorを使用し、プロトタイプはProttなどのプロトタイプツールを用いるか、HTML・CSSで実装しました。
    .pane-4
      h3 ユーザテスト
      p 作成したプロトタイプに対してユーザテストを行い、フィードバックを元に改善を進めました。テスト設計から実施、データの分析までを一貫して担当しました。
    .pane-4
      h3 エンジニアリング
      p UIコンポーネントに合わせてスタイルシートを作成し、Webアプリケーション内で共通化しました。またUIガイドラインを作成し、他のエンジニアがすぐに適用できるようにしました。
      p 要件定義と基本設計の作成を担当しました。
  .container
    h2 工夫と成果
    p 私はデザイナとエンジニアのタスク状況に合わせて進め方を提案し、両者の橋渡しをしました。例えば、デザイナが忙しいときは、私がUIデザインを作成し、エンジニアに実装を依頼しました。また、エンジニアが忙しいときは、私がアプリケーションを実装しました。
    p  その結果、4年前から進んでいなかったユーザビリティ改善を実施することができました。またお客様から「他社のアプリケーションと比べても、非常に使いやすかった」とお褒めの言葉を頂きました。
