extends _template.pug

block title
  title Yuka Niiyama - optimalbiz

block content
  .hero.optimalbiz
    .container
      h1 Optimal Biz UIリニュアル
      p 社内端末を管理・遠隔操作するWebアプリケーション「Optimal Biz」のUIリニュアルに携わりました。
      img(src='image/optimalbiz.png')
      .pane-2
        dl
          dt 期間
          dd 2017年4月 ~ 現在
      .pane-2
        dl
          dt チーム構成
          dd マネージャー1名
          dd エンジニア3名 (交代制)
          dd.me デザイナ兼エンジニア (私)
  .container
    h2 Optimal Bizとは?
    p 業務で使用しているPCやスマートフォンなどの社内端末を、管理・遠隔操作するためのサービスです。Webアプリケーションから社内端末を一覧したり、端末のロック、初期化などの行うことができます。
    .pane-2
      img.shadow(src='image/optimalbiz-old.png')
      aside 社内端末の一覧画面
    .pane-2
      img.shadow(src='image/optimalbiz-old2.png')
      aside メニュー画面
  .container
    h2 課題
    .pane-wrap
      .pane-2
        h3 目的の画面にたどり着けない
        p 100種類もの機能が「メニュー画面」に集約されており、ユーザーが目的の機能を見つけるまでに多くの時間がかかりました。
      .pane-2
        h3 プロジェクトが進まない
        p 多くのお客様からユーザビリティ改善のご要望を受けていましたが、具体的な仕様に落とし込むことができず、プロジェクトの進捗は滞っていました。
  .container
    h2 提案
    p ユーザーが迷わないUIを検討し、ユーザーテストで効果を検証した上でリニュアルを進めました。
    .pane-wrap
      .pane-2
        img.shadow(src='image/optimalbiz-new1.png')
      .pane-2
        img.shadow(src='image/optimalbiz-new.png')
  .container
    h2 プロセス
    .pane-4
      img.flow(src='image/optimalbiz-f1.svg')
      h3 情報構造の整理
      ul
        li 機能をいくつかの画面に分割
    .pane-4
      img.flow(src='image/optimalbiz-f2.svg')
      h3 UIデザイン
      ul
        li 画面図作成
        li プロトタイプ作成
    .pane-4
      img.flow(src='image/optimalbiz-f3.svg')
      h3 ユーザテスト
      ul
        li ユーザーテスト設計、実施、分析
        li フィードバックを元に改善提案
    .pane-4
      img.flow(src='image/optimalbiz-f4.svg')
      h3 エンジニアリング
      ul
        li システム設計 (要件定義、基本設計)
        li Webアプリケーション開発
        li UIガイドライン作成
  .container
    h2 工夫と成果
    p 私はデザイナとエンジニアのタスク状況に合わせて進め方を提案し、両者の橋渡しをしました。例えば、デザイナが忙しいときは、私がUIデザインを作成し、エンジニアに実装を依頼しました。また、エンジニアが忙しいときは、私がアプリケーションを実装しました。
    p  その結果、4年前から進んでいなかったユーザビリティ改善を実施することができました。またお客様から「他社のアプリケーションと比べても、非常に使いやすかった」とお褒めの言葉を頂きました。
