extends _template.pug

block title
  title Yuka Niiyama - profile
block content
  .container
    .pane-2
      img(src='image/niiyama.jpg')
    .pane-2
      h3.name-ja 新山 優佳
      h5.address 北海道出身
      p 大学と大学院で5年間、情報デザインを学びました。
      p 大学卒業後はWebアプリケーションのエンジニアとしてデザイン以降の開発プロセスに携わり、デザイナとエンジニアの橋渡しに取り組んできました。
      p 「開発の全体像を想定した上で、目的に対して最善の手段を選択できる人」を目指します。
