extends _template.pug

block title
  title Yuka Niiyama - skill

block content
  .container
    h2 Skill
    .card
      h3 デザイン
      .card__inner
        h4 ツール
        table
          tr
            td Adobe Illustrator
            td ★★★
          tr
            td Adobe Photoshop
            td ★☆☆
      .card__inner
        h4 調査、検証手法
        table
          tr
            td ペルソナ
            td ★☆☆
          tr
            td カスタマージャーニーマップ
            td ★☆☆
          tr
            td ユーザビリティテスト
            td ★★☆
          tr
            td Google Analytics
            td ★☆☆
    .card
      h3 コーディング
      .card__inner
        table
          tr
            td HTML / CSS
            td ★★☆
          tr
            td Javascript
            td ★☆☆
          tr
            td Ruby on Rails
            td ★☆☆
          tr
            td Git
            td ★☆☆
